* {
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 #c0c0c0;
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #bababa;
}

#root {
  margin: 0%;
}

body {
  /*background-color: #008080;*/
  background-color: #b68adb;
  margin: 0%;
  text-align: center;
  margin: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.5vh;
}

#logo {
  margin: 1%;
  width: 7%;
  height: auto;
}

#toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #c0c0c0;
  box-shadow: inset 1px -1px 0px 3px #b2b0b0db;
}

.homeButtons, .internalModalButtons, #sidebarUserButtons, .sidebarHeaderButtons, .avatarButtons {
  align-items: center;
  appearance: none;
  background-color: #e9e9e9;
  border-width: 0;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 3px #fff, inset -2px -2px grey,
  inset 2px 2px #dfdfdf;
  box-sizing: border-box;
  color: #3c3c3c;
  text-shadow: 1px 3px 2px #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.homeButtons:focus, .internalModalButtons:focus, #sidebarUserButtons:focus, .avatarButtons:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}

.homeButtons:hover, .avatarImages:hover {
  transform: translateY(-2px);
}

/* affects buttons in toolbar */
#modalContainer {
  margin-right: 1%;
  margin-left: 3%;
}

#loginModal {
  text-align: center;
  margin-bottom: 6%;
}

.parentModalHeader {
  display: flex;
  flex-direction: row;
  background-color: #c0c0c0;
  text-shadow: 1px 1px 1px #ffffff;
  box-shadow: inset -1px -2px #b4b2b2, inset 1px 3px #ebebeb,
  inset -2px -2px grey, inset 2px 2px #dfdfdf;
  margin-bottom: 5%;
}

.internalModalButtons {
  background-color: #C0C0C0;
  text-shadow: 1px 1px 1px #ffffff;
  box-shadow: inset -1px -2px #b4b2b2, inset 1px 3px #ebebeb,
    inset -2px -2px grey, inset 2px 2px #dfdfdf;
  color: #3c3c3c;
}

#internalModalButtons {
  color: #252525;
}

.labelAndFieldContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 4%;
  margin-left: 4%;
  font-family: monospace;
  text-shadow: 1px 1px 1px #ffffff;
  color: #6b6b6b;
}

.MuiTextField-root {
  background-color: #ffffff;
  border-radius: 0%;
  margin-bottom: 3%
}

.MuiOutlinedInput-root {
  font-family: monospace;
}

.modalErrors {
  font-size: 2.4vh;
  padding: 5%;
  font-family: monospace;
  color: #6b6b6b;
  text-shadow: 1px 1px 1px #ffffff;
}

.passwordRequirementMessage {
  margin-bottom: 3%;
}

#passwordCheckContainer {
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 2.4vh;
  font-family: monospace;
  color: #6b6b6b;
  text-shadow: 1px 1px 1px #ffffff;
}

.passwordRequirementMessage {
  display: flex;
  flex-direction: column;
  color: #8a8a8a;
}

.passwordRequirements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3%;
  margin-left: 3%;
}

#toolbarButtonsLeft {
  display: flex;
  align-items: center;
  margin-left: 1%;
}

#toolbarButtonsRight {
  display: flex;
  flex-direction: row;
  margin-right: 1%;
}

#homeButton {
  margin-right: 5%;
}

/* rename to chatAndSidebarContainer! */
#homeSidebarContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  width: 100%;
  height: 100vh;
}

.userSearch {
  border-radius: 0%;
}

.userList {
  color: rgb(91, 91, 91);
  font-family: monospace;
  text-shadow: 1px 1px 1px #ffffff;
}

#chatContainer {
  height: 70vh;
  width: 100%;
  margin-left: 3%;
}

.chatAndSidebarHeader {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-family: monospace;
  margin: 0%;
  background-color: #c0c0c0;
  text-shadow: 1px 1px 1px #ffffff;
  box-shadow: inset -1px -2px #b4b2b2, inset 1px 3px #ebebeb,
    inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

.chatAndSidebarHeader:hover, #chatHeader {
  background-color: #bbbbbb;
  text-shadow: 1px 1px 1px #ffffff;
  box-shadow: inset -1px -2px #abaaaa, inset 1px 3px #e0e0e0,
    inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

#chatHeaderText {
  margin: 0.5%;
}

#chatScreen {
  height: 90%;
  background-color: #e9e9e9;
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex: 1;
  overflow-y: auto;
}

#sentChat {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  background-color: #ffffff;
  border-bottom: 4px solid #dedede;
  color: #454545;
  font-family: monospace;
  text-shadow: 1px 1px 1px #ffffff;
  text-align: left;
  max-width: 80%;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  padding: 1%;
  margin: 1.5%;
}

#receivedChat {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  background-color: #f2d7f1;
  border-bottom: 4px solid #dedede;
  color: #8f4c8d;
  font-family: monospace;
  text-shadow: 1px 1px 1px #ffffff;
  text-align: left;
  max-width: 80%;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  padding: 1%;
  margin: 1.5%;
}

#fromMessageText {
  font-size: 85%;
  color: rgb(176, 176, 176);
  text-shadow: 1px 1px 1px #ffffff;
}

#textareaContainer {
  display: flex;
  align-items: center;
  background-color: #e9e9e9;
  height: 30vh;
}

.emojiPickerContainer {
  position: absolute;
  top: 44%;
  left: 4%;
  z-index: 1;
}

#textareaButtons {
  display: inline;
}

#chatTextarea {
  resize: none;
  outline: none;
  margin: 1.5%;
  margin-top: 5%;
  margin-bottom: 7%;
  height: 100%;
  width: 85%;
  box-sizing: border-box;
  /*border: 1px dotted #919191;*/
  border: 3px solid #dedede;
  background-color: #ffffff;
  font-size: 2.5vh;
  padding: 2%;
  font-family: "JetBrains Mono", monospace;
}

#sidebarContainer {
  background-color: #e9e9e9;
  margin-right: 3%;
  margin-left: 3%;
  height: 98%;
  width: 50%;
}

.sidebarHeaderButtons {
  height: 4.5vh;
}

.sidebarSearch {
  background-color: #f6f6f6;
  border-width: 0;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 3px #fff, inset -2px -2px grey,
      inset 2px 2px #dfdfdf;
  font-family: monospace;
  font-size: 16px;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 3%;
  height: 3rem;
  width: 50%;
}

.sidebarSearch:focus {
  outline: 1px dotted black;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 3px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
}

.sidebarSearch:active {
  outline: none;
}

#friendsAndUsersContainer {
  display: flex;
  justify-content: center;
}

#sidebarUserButtons {
  margin-left: 2%;
}

.searchbarContainer {
  display: inline-flex;
  flex-direction: row-reverse;
  margin: 3%;
}

.searchInput {
  flex: 1;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
  outline: none;
  font-size: 16px;
}

.searchInput:hover {
  border: 1px solid rgb(182, 182, 182);
}

.searchInput:hover::placeholder {
  color: rgb(160, 160, 160);
}

.sidebarTabs-container {
  display: flex;
}

.sidebarTabs {
  display: flex;
}

.userList {
  display: flex;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
}

#profilePicContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.userPhoto {
  opacity: 0.7;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-bottom: 4px solid #c0c0c0;
}

.userPhoto:hover {
  opacity: 0.8;
  border-bottom: 4px solid #c0c0c0;
}

.avatarButtons {
  height: 17%;
  margin-top: 1%;
  margin-bottom: 8%;
  background-color: #d3d3d3;
  box-shadow: inset -1px -1px #8b1993, inset 1px 3px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
  color: #3c3c3c;
  text-shadow: 1px 1px 1px #ffffff;
  font-size: 18px;
}

.avatarButtons:hover {
  color: gray;
  background-color: #dfdfdf;
}

.avatarImages {
  border-bottom: 4px solid #b45fba;
}

#avatarPickerMessage {
  font-family: monospace;
  font-weight: bold;
  font-size: 4.5vh;
  color: #ffd2ef;
  text-shadow: 2px 2px 1px #8b5879;
}

/* temporary */
input[type="file"] {
  margin-top: 10px;
  cursor: pointer;
}

.username {
  display: block;
  margin-right: 10px;
}

.friendButton {
  border: none;
  margin: 1%;
}

.gifSearchContainer {
  border: 3px solid #dedede;
  background-color: #ffffff;
}

.gifContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gifItem {
  flex: 0 0 calc(33.33% - 10px);
  margin: 5px;
  list-style: none;
}

.gifImg {
  width: 100%;
  height: auto;
}

#landingImage {
  animation: bounce 0.9s infinite alternate cubic-bezier(.5, 0.05, 1, .5);
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 100px, 0);
  }
}